* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}


@media screen and (max-width: 980px) {
    nav {
        width: 100%;
        margin: 0 auto;
        background-color: white;
        position: static;
        top: 0px;
    }

    .conteneur-nav {
        position: absolute;
        width: 100%;
    }

    nav input[type=checkbox] {
        display: none;
    }

    nav label {
        display: inline-block;
        width: 100%;
        padding: 10px 0px;
        text-align: center;
        background-color: gold;
    }

    nav ul {
        display: none;
        list-style-type: none;
        background-color: #555;
    }

    nav ul li {
        flex: 1 1 auto;
        text-align: center;
    }

    nav > div > ul > li > a {
        color: white;
    }

    nav a {
        display: block;
        text-decoration: none;
        color: black;
        padding: 10px 0px;
        font-size: 1.5rem;
    }

    .sous {
        display: flex;
        flex-flow: column wrap;
        z-index: 1;
        align-items: center;
    }

    .sous li {
        flex: 1 1 auto;
        text-align: left;
    }

    .sous a {
        padding: 10px;
        background-color: RGBa(200, 200, 200, 0.8);
    }

    .conteneur-nav {
        position: static;
    }

    nav label, nav input {
        display: none;
    }

    nav input[type=checkbox]:checked + ul, nav ul {
        display: flex;
        flex-flow: row wrap;
        background-color: cornflowerblue;
    }

    nav ul li {
        position: relative;
    }

    nav > div > ul > li > a {
        color: black;
    }

    nav a {
        border-bottom: 2px solid transparent;
    }

    nav a:hover {
        color: orange;
        border-bottom: 2px solid gold;
    }

    .sous {
        display: none;
        box-shadow: 0px 1px 2px #CCC;
        background-color: white;
        position: absolute;
        width: 100%;
    }

    nav > div > ul li:hover .sous {
        display: flex;
        flex-flow: column wrap;
    }

    .sous a {
        border-bottom: none;
        background-color: white;
    }

    .sous a:hover {
        border-bottom: none;
        background-color: RGBa(200, 200, 200, 0.1);
    }

    .deroulant > a::after {
        content: " ▼";
        font-size: 12px;
    }
}

@media screen and (min-width: 980px) {

    * {
        text-decoration: none;
    }

    .sous {
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
        list-style: none;
        text-decoration: none;
        background-color: #eaeaea;
        margin-top: -2.3rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    li a {
        border: black solid 2px;
        border-radius: 5px;
        padding: 0.5rem 1rem 0.5rem 1rem;
        background-color: cornflowerblue;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
    }

    li a:hover {
        cursor: pointer;
    }

    input {
        width: 0%;
        height: 0%;
    }

    #home {
        visibility: hidden;
        margin-bottom: 200px;
    }
}
