* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
    text-decoration: black;
    font-family: Arial, sans-serif;
}

.top-nav {
    width: 64rem;
    height: 5rem;
    background-color: rgba(255, 170, 49, 0.53);
}

a {
    position: center;
    text-align: center;
    color: black;
}

ul {
    position: fixed;
    display: inline;
    padding-right: 1rem;
    border: #9b9b9b solid 1px;
    border-radius: 5px;
    box-shadow: #8f8b8b 1px 1px 1px;
}

ul:hover {
    cursor: pointer;
    box-shadow: #8f8b8b -1px -1px 1px;
}

.ul1 {
    margin-left: 15rem;
    margin-top: 1rem;
}

.ul2 {
    margin-left: 23rem;
    margin-top: 1rem;
}

.ul3 {
    margin-left: 31rem;
    margin-top: 1rem;
}

.ul4 {
    margin-left: 39rem;
    margin-top: 1rem;
}

.ul5 {
    margin-left: 47rem;
    margin-top: 1rem;
}

.ul6 {
    margin-left: 55rem;
    margin-top: 1rem;
}